<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmb.o2o.cat.rack.dao.BudgetDetailMapper">
  <resultMap id="BaseResultMap" type="com.cmb.o2o.cat.rack.model.BudgetDetail">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="plan_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="activity_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="pay_order_no" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="biz_order_no" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="passuid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="amount" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="point" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="ticket_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="direction" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="valid" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="created_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="updated_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, plan_id, activity_id, pay_order_no, biz_order_no, passuid, amount, point, ticket_count, 
    direction, valid, type, created_time, updated_time
  </sql>
  <select id="selectByExample" parameterType="com.cmb.o2o.cat.rack.model.BudgetDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from nb_budget_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from nb_budget_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from nb_budget_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cmb.o2o.cat.rack.model.BudgetDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into nb_budget_detail (plan_id, activity_id, pay_order_no, 
      biz_order_no, passuid, amount, 
      point, ticket_count, direction, 
      valid, type, created_time, 
      updated_time)
    values (#{planId,jdbcType=BIGINT}, #{activityId,jdbcType=BIGINT}, #{payOrderNo,jdbcType=VARCHAR}, 
      #{bizOrderNo,jdbcType=INTEGER}, #{passuid,jdbcType=VARCHAR}, #{amount,jdbcType=INTEGER}, 
      #{point,jdbcType=INTEGER}, #{ticketCount,jdbcType=INTEGER}, #{direction,jdbcType=VARCHAR}, 
      #{valid,jdbcType=BIT}, #{type,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cmb.o2o.cat.rack.model.BudgetDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into nb_budget_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="planId != null">
        plan_id,
      </if>
      <if test="activityId != null">
        activity_id,
      </if>
      <if test="payOrderNo != null">
        pay_order_no,
      </if>
      <if test="bizOrderNo != null">
        biz_order_no,
      </if>
      <if test="passuid != null">
        passuid,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="point != null">
        point,
      </if>
      <if test="ticketCount != null">
        ticket_count,
      </if>
      <if test="direction != null">
        direction,
      </if>
      <if test="valid != null">
        valid,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="planId != null">
        #{planId,jdbcType=BIGINT},
      </if>
      <if test="activityId != null">
        #{activityId,jdbcType=BIGINT},
      </if>
      <if test="payOrderNo != null">
        #{payOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="bizOrderNo != null">
        #{bizOrderNo,jdbcType=INTEGER},
      </if>
      <if test="passuid != null">
        #{passuid,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="point != null">
        #{point,jdbcType=INTEGER},
      </if>
      <if test="ticketCount != null">
        #{ticketCount,jdbcType=INTEGER},
      </if>
      <if test="direction != null">
        #{direction,jdbcType=VARCHAR},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=BIT},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map">
    update nb_budget_detail
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.planId != null">
        plan_id = #{record.planId,jdbcType=BIGINT},
      </if>
      <if test="record.activityId != null">
        activity_id = #{record.activityId,jdbcType=BIGINT},
      </if>
      <if test="record.payOrderNo != null">
        pay_order_no = #{record.payOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.bizOrderNo != null">
        biz_order_no = #{record.bizOrderNo,jdbcType=INTEGER},
      </if>
      <if test="record.passuid != null">
        passuid = #{record.passuid,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null">
        amount = #{record.amount,jdbcType=INTEGER},
      </if>
      <if test="record.point != null">
        point = #{record.point,jdbcType=INTEGER},
      </if>
      <if test="record.ticketCount != null">
        ticket_count = #{record.ticketCount,jdbcType=INTEGER},
      </if>
      <if test="record.direction != null">
        direction = #{record.direction,jdbcType=VARCHAR},
      </if>
      <if test="record.valid != null">
        valid = #{record.valid,jdbcType=BIT},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedTime != null">
        updated_time = #{record.updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update nb_budget_detail
    set id = #{record.id,jdbcType=BIGINT},
      plan_id = #{record.planId,jdbcType=BIGINT},
      activity_id = #{record.activityId,jdbcType=BIGINT},
      pay_order_no = #{record.payOrderNo,jdbcType=VARCHAR},
      biz_order_no = #{record.bizOrderNo,jdbcType=INTEGER},
      passuid = #{record.passuid,jdbcType=VARCHAR},
      amount = #{record.amount,jdbcType=INTEGER},
      point = #{record.point,jdbcType=INTEGER},
      ticket_count = #{record.ticketCount,jdbcType=INTEGER},
      direction = #{record.direction,jdbcType=VARCHAR},
      valid = #{record.valid,jdbcType=BIT},
      type = #{record.type,jdbcType=VARCHAR},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      updated_time = #{record.updatedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmb.o2o.cat.rack.model.BudgetDetail">
    update nb_budget_detail
    <set>
      <if test="planId != null">
        plan_id = #{planId,jdbcType=BIGINT},
      </if>
      <if test="activityId != null">
        activity_id = #{activityId,jdbcType=BIGINT},
      </if>
      <if test="payOrderNo != null">
        pay_order_no = #{payOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="bizOrderNo != null">
        biz_order_no = #{bizOrderNo,jdbcType=INTEGER},
      </if>
      <if test="passuid != null">
        passuid = #{passuid,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="point != null">
        point = #{point,jdbcType=INTEGER},
      </if>
      <if test="ticketCount != null">
        ticket_count = #{ticketCount,jdbcType=INTEGER},
      </if>
      <if test="direction != null">
        direction = #{direction,jdbcType=VARCHAR},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=BIT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmb.o2o.cat.rack.model.BudgetDetail">
    update nb_budget_detail
    set plan_id = #{planId,jdbcType=BIGINT},
      activity_id = #{activityId,jdbcType=BIGINT},
      pay_order_no = #{payOrderNo,jdbcType=VARCHAR},
      biz_order_no = #{bizOrderNo,jdbcType=INTEGER},
      passuid = #{passuid,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=INTEGER},
      point = #{point,jdbcType=INTEGER},
      ticket_count = #{ticketCount,jdbcType=INTEGER},
      direction = #{direction,jdbcType=VARCHAR},
      valid = #{valid,jdbcType=BIT},
      type = #{type,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>